<!DOCTYPE html>
<html>

	<head>
		<title>TulaTour</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="static/normalize.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <script src="https://use.fontawesome.com/0ca06f29a6.js"></script>
		<link href="static/style.css" rel="stylesheet">
        <link href="static/bread_crumbs.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
	</head>

    <body>


        <header>
<div class="container">
                <div class="brand"><a href="http://127.0.0.1:8080">TulaTour</a> </div>
                <nav>
                      <div class="search-container">
                      <form action="action.php">
                          <input type="text" placeholder="Поиск.." name="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                      </div>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/about">О нас</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Контакты</a></li>
                        <li><a href="http://127.0.0.1:8080/login">Вход</a></li>
                        <li><a href="http://127.0.0.1:8080/register">Регистрация</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="bread_crumbs">
            {%block bread_crumbs%}{% endblock %}
        </div>
        <div class="picture">
            {%block picture%}{% endblock %}
        </div>

        <div class="services">
            {%block services%}{% endblock %}
        </div>

        <div class="blog">
           {%block blog%}{% endblock %}
        </div>

        <footer>
            <div class="container">
                 <div class="brand"><a href="http://127.0.0.1:8080">TulaTour</a> </div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/about">О нас</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Контакты</a></li>
                        <li><a href="http://127.0.0.1:8080/login">Вход</a></li>
                    </ul>
                </nav>
                <p class="copyright">© 2020 All Rights Reserved</p>
            </div>
        </footer>

    </body>
</html>