
{% extends "base.html" %}



            {%block header%}
<div class="container">
                <div class="brand"><a href="http://127.0.0.1:8080">Project Name</a> </div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/about">О нас</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Контакты</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </nav>
            </div>
{% endblock %}

{%block bread_crumbs%}
<ul id="breadcrumbs-two">
		<li><a href="http://127.0.0.1:8080/">Главная</a></li>
		<li><a href="" class="current">Контакты</a></li>
	</ul>
{% endblock %}

            {%block picture%}
  <div class="jumbotron">
            <div class="container">
                <h1>Информация об агентстве</h1>

            </div>
  </div>
{% endblock %}

 {%block services%}

<p class="contact">Адрес: Тула, ул. Ленина, д. 6А, домофон 7, 8</p>

<p class="contact">Тел.: +7-953-242-57-00 ,  +7 8112 64‑97-49, +7 8112 64-90-25</p>

<p class="contact">Электронная почта: TulaTuor@mail.ru.ru</p>

<p class="contact">Группа в VK: www.vk.com/TulaTour</p>

<p class="contact">Группа в Facebook: www.facebook.com/YulaTouristCenter</p>

<p class="contact">Instagram: www.instagram.com/visitTula</p>

<p class="contact">Экстренные службы: 02, 102,03, 103, 112</p>

<p class="contact">Службы ТАКСИ:</p>

<p class="contact">Службы ТАКСИ:</p>

<p class="contact">Яндекс Такси онлайн: taxi.yandex.ru</p>

<p class="contact">"Такси 057": + 7(8112)29-20-57  +7(8112)22-20-57</p>

<p class="contact">"Такси 000": +7(8112)72-70-00</p>
{% endblock %}