
{% extends "base.html" %}
{%block bread_crumbs%}
<ul id="breadcrumbs-two">
    <li><a href="http://127.0.0.1:8080/" class="current">Главная</a></li>
	</ul>
{% endblock %}

            {%block picture%}
  <div class="jumbotron">
            <div class="container">
                <h1>Экскурсии по Туле и Тульской области</h1>
            </div>
  </div>
{% endblock %}

            {%block services%}
<div class="container">
                <h2>Мы предлагаем различные варианты проведения экскурсий</h2>
                <div class="service">
                <img src="static/img/2_1.jpg" alt="">
                    <p>Сопровождение туристических групп, организация туристических походов по лучшим природным местам Тульской области..</p>
                </div>
                <div class="service">
                    <img src="static/img/3_1.jpg" alt="">
                    <p>Организация индивидуальных экскурсий на вашем личном автомобиле.</p>
                </div>
                <div class="service">
                    <img src="static/img/4_1.jpg" alt="">
                    <p>Организация груповых экскурсий по достопримечательностям Тульской области.</p>
                </div>
            </div>
{% endblock %}

           {%block blog%}
<div class="container">
                <h2>Популярные экскурсионные места Тульской области</h2>
                <div class="post">
                    <img src="static/img/polenovo.jpg">
                    <a href="http://127.0.0.1:8080/polenovo"><h3>Музей-усадьба Поленово</h3></a>
                    <p>Приглашаем Вас в гости в Государственный мемориальный историко-художественный и природный музей-заповедник Василия Дмитриевича Поленова.Здесь представлена коллекция его картин, написанных на родине.</p>
                </div>
                <div class="post">
                    <img src="static/img/jasnaya_polyana.jpg">
                     <a href="http://127.0.0.1:8080/jasnaya_polyana"><h3>Музей-усадьба Ясная поляна </h3></a>
                    <p>Ясная Поляна — усадьба, где родился и прожил более 50 лет Лев Николаевич Толстой. Здесь были им написаны «Война и мир», «Анна Каренина», впечатления от усадебного образа жизни нашли отражение во многих произведениях писателя. В музее поддерживают старинную обстановку, пекутся об архитектурных памятниках, оберегают вещи, принадлежавшие Толстому, и заботятся о сохранении природной красоты этих мест.</p>
                </div>
                <div class="post">
                    <img src="static/img/kulikovo_pole.jpg">
                     <a href="http://127.0.0.1:8080/kulikovo_pole"><h3>Музей-заповедник Куликово поле</h3></a>
                    <p>Государственный военно-исторический и природный музей-заповедник «Куликово поле» — уникальный мемориальный объект, напоминающий об одном из важнейших событий в русской истории. Именно здесь, у слияния рек Дон и Непрядва, 8 сентября 1380 г. произошла битва с ханом Мамаем, ставшая началом освобождения Руси от татаро-монгольского ига.</p>
                </div>
                <div class="post">
                    <img src="static/img/weapon_museum.jpg">
                     <a href="http://127.0.0.1:8080/weapon_museum"><h3>Музей оружия «Шлем»</h3></a>
                    <p>Тульский государственный музей оружия — один из старейших музеев России. Зарождение его коллекции относится к 1724 г. Музей состоит из 2-х этажного здания, выполненного в форме шлема воина древней руси.</p>
                </div>
            </div>
{% endblock %}