{% extends "base.html" %}

            {%block header%}
<div class="container">
                <div class="brand"><a href="http://127.0.0.1:8080"></a> </div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/about">О нас</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Контакты</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </nav>
            </div>
{% endblock %}

{%block bread_crumbs%}
<ul id="breadcrumbs-two">
		<li><a href="http://127.0.0.1:8080/">Главная</a></li>
		<li><a href="" class="current">Ясная Поляна</a></li>
	</ul>
{% endblock %}

            {%block picture%}
  <div class="jumbotron" style="background-image: url(static/img/jasnaya_polyana.1.jpg)">
            <div class="container">
                <h1>Ясная поляна</h1>
            </div>
  </div>
{% endblock %}

            {%block services%}
<div class="container">
    <p> Ясная Поляна – родовое имение Л.Н. Толстого. Привычный Толстому облик усадьбы, во многом сохранившийся до наших дней, сложился в начале XIX в. при деде писателя князе Н.С. Волконском.
    В Ясной Поляне Толстой родился и провел большую часть своей жизни. Сегодня Ясная Поляна остается такой же, какой ее знал и любил Толстой. Мемориальные ландшафты усадьбы (сады, парки, пруды, посаженные Толстым леса), как и здания конца XVIII – начала XIX вв., поддерживаются в своем неизменном историческом виде. Основные мемориальные постройки усадьбы:</p>
<p><a href="http://127.0.0.1:8080/jasnaya_polyana_addres">Адрес и контактная информация</a></p>

            </div>
{% endblock %}
