{% extends "base.html" %}

            {%block header%}
<div class="container">
                <div class="brand"><a href="http://tulatour.herokuapp.com"></a> </div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://tulatour.herokuapp.com/about">О нас</a></li>
                        <li><a href="http://tulatour.herokuapp.com/contact">Контакты</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </nav>
            </div>
{% endblock %}

{%block bread_crumbs%}
<ul id="breadcrumbs-two">
		<li><a href="http://tulatour.herokuapp.com/">Главная</a></li>
		<li><a href="" class="current">Куликово поле</a></li>
	</ul>
{% endblock %}
            {%block picture%}
  <div class="jumbotron" style="background-image: url(static/img/kp1.jpg)">
            <div class="container">
                <h1>Куликово поле</h1>
            </div>
  </div>
{% endblock %}

            {%block services%}
<div class="container">
    <p>В 1996 году был создан Государственный военно-исторический и природный музей-заповедник «Куликово поле». Его экспозиция находится в селе Монастырщино, поселке Епифань, музейно-выставочном центре “Тульские древности” и в музейном комплексе “Куликово поле”.

Музейный комплекс «Куликово поле» расположился в непосредственной близости от места легендарного сражения. С октября 2016 года здесь действует основная экспозиция - “Сказание о Мамаевом побоище. Новое прочтение”. Она состоит из трех блоков. В вводном зале “Битва и битвы” посетители познакомятся с похожими на Куликовскую битву сражениями - осадой Орлеана 1429 года, Грюнвальдской битвой, битвой на Косовом поле, Бородинским сражением и битвой у Прохоровки. Два других зала знакомят с историей Куликовской битвы - на основе “Сказания о Мамаевом побоище” и современных научных исследований. Здесь представлены находки археологов, реконструкция исторического ландшафта XIV века, воссозданные картины из жизни древних поселений Куликова поля, письменные источники и многое другое.</p>
             <p><a href="http://tulatour.herokuapp.com/kulikovo_pole_addres">Адрес и контактная информация</a></p>
            </div>
{% endblock %}




