{% extends "base.html" %}

            {%block header%}
<div class="container">
                <div class="brand"><a href="http://127.0.0.1:8080"></a> </div>
                <nav>
                    <ul class="menu">
                        <li><a href="http://127.0.0.1:8080/about">О нас</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Контакты</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                </nav>
            </div>
{% endblock %}

 {%block bread_crumbs%}
<ul id="breadcrumbs-two">
		<li><a href="http://127.0.0.1:8080/">Главная</a></li>
		<li><a href="http://127.0.0.1:8080/polenovo">Поленово</a></li>
    	<li><a href="" class="current">Адрес</a></li>
	</ul>
{% endblock %}



            {%block picture%}
  <div class="jumbotron" style="background-image: url(static/img/polenovo.1.jpg)">
            <div class="container">
                <h1>Поленово</h1>
            </div>
  </div>
{% endblock %}

            {%block services%}
<div class="container">
              <p>Адрес и контактная информация
301011, Тульская обл., Заокский р-н., п/о Страхово

Тел./факс: 8 (48734) 3–38–38
Электронная почта (общая): polenovo@tarusa.ru

Электронная почта (экскурсионный отдел): exburo@polenovo.ru

GPS координаты: (lat, lng): 54.74993053668268, 37.244435802124016
                 </p>
            </div>
{% endblock %}
